body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  /* background-color: #ff6f61; */
  background-image: url(IMG/header1.jpg);
  background-size: cover;
  opacity: 0.9; /*헤더 이미지 불투명도 조절*/
  padding: 20px;
  text-align: center;
  position: relative;
}

header h1 {
  color: #fff;
  font-size: 60px;
}
.slide {
  width: 400px;
  margin: 0 auto;
}
.slide img {
  width: 300px;
  height: 200px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.dropdown,
.search-bar {
  margin: 0 10px;
  position: relative;
}

.dropbtn,
#search-button {
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  background-color: #ff6f61;
  border: none;
  color: white;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e48989;
  min-width: 400px;
  box-shadow: 0px 8px 16px rgb(233, 177, 194);
  opacity: 0.8;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #fff8f8;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #615a5a;
}

.search-bar input {
  border: 3px solid #000000;
  background-color: #ffffff;
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border-radius: 20px;
}

#search-button:hover {
  background-color: #e47272;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.random-recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.recipe-item {
  text-align: center;
}

.recipe-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.recipe-item img:hover {
  transform: scale(1.05);
}

.recipe-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.left-container,
.right-container {
  flex: 1;
  margin: 10px;
}

.right-container {
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.ingredients-list li {
  margin-bottom: 8px;
}

.instruction-container {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

/*반응형 웹 구현*/
@media (max-width: 768px) {
  .recipe-container {
    flex-direction: column;
  }

  .left-container,
  .right-container {
    border: none;
    padding: 0;
  }

  .right-container {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}
